#header-container{

    
    background-color: green ;
    color:red;
    padding: 30px;
    font-size: xx-large;
    height: 70px;
    display: flex;

}

#header-container .container-elements{

    margin-right: 1200px;
    color:black;
    text-decoration: none;
}
#background-photo{

    z-index: -1;

}

#second-container .container-elements{

    color: darkblue;
    font-size: x-large;

}

#body-container{
    
    background-image: url(website-background.jpg);
}